.div2 {
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.div2 p {
    text-align: center;
}


.appliances {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.appliances div {
    text-align: center;
    flex-basis: 300px;
    margin: 20px;
    background-color: rgb(217, 119, 6);
    padding: 20px;
    color: #FFFFFF;
}

.appliances a {
    color: #ffffff !important;
    height: 100%;
    width: 100%;
}

.appliances div:hover {
    background-color: rgb(184, 101, 6);
}

.background {
    margin: 30px;
    padding: 20px;
    text-align: center;
    background: radial-gradient(circle at 55% 92%, #426691 0 12%, transparent 12.2%), radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%), radial-gradient(circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%), radial-gradient(circle at 0% 0%, #263a53 0 40%, transparent 40.2%), #1f2e43;
}
.div7{
    display:flex;
    justify-content: center;
}

.review{
   padding: 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.review h2{
    color:rgb(217, 119, 6);
}
.review > * {
    padding: 10px;
}