:root {
  --header-height: 53px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #0079c1 !important;
}

a:hover {
  color: rgb(217, 119, 6) !important;
  transition: .2s;
}

.div5 h2 {
  color: rgb(217, 119, 6);
}

.div4 h2 {
  color: #ffffff !important;
}
/* Header, footer */

nav {
  background-color: #ffffff;
}

/* Navbar */

.navbar-brand {
  font-size: 18px;
  font-weight: 600;
}

.nav-link, .dropdown-item {
  font-size: 15px;
  font-weight: 600;
  text-transform: lowercase;
}

nav li {
  padding: 0 20px;
}

nav li.active, nav li.active:before {
  border-radius: 2px;
}

.navbar-collapse {
flex-grow: 0 !important;
}

/*NEW NAV*/
/* header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 250;
  height: var(--header-height);
}

.header {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}

.header .logo {
  padding-left: 40px;
  font-size: 1.25rem;
}

.header .menu .drawer {
  display: flex;
  height: var(--header-height);
  padding-right: 100px;
}

.header .menu .drawer a {
  text-transform: capitalize;
  transition: all 0.1s linear;
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: #585b63;
  font-size: 17.4px;
}

.menu-btn,
.close-btn {
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  left: 11px;
  top: 8px;
  display: none;
  cursor: pointer;
}

.menu-btn {
  left: 3px;
}

.close-btn:active,
.menu-btn:active {
  background: #f3f3f3;
}

.img {
  height: calc(100vh - 53px);
  width: 100%;
  object-fit: cover;
  display: block;
}
.nav li{
  list-style:none;
}
.nav{
  align-items: center;
}



@media (max-width: 1140px) {
  .header .menu .drawer {
    padding: 0;
  }
}

@media (max-width: 920px) {
  .header .menu {
    display: flex;
    position: fixed;
    top: 0;
    left: -925px;
    width: 100%;
    height: 100%;
    z-index: 300;
  }

  s .header .menu .drawer a:hover {
    background: #f3f3f3;
  }

  .header .menu .drawer a:active {
    background: #e0e0e0;
  }


  .header .menu .blank {
    height: 100%;
    flex: 1;
  }

  .header .menu .drawer {
    box-shadow: 2px 0 12px rgb(0 0 0 / 40%);
    padding-top: 50px;
    height: 100%;
    width: 225px;
    background: #fff;
    flex-direction: column;
    position: fixed;
    left: -240px;
    transition: all 200ms linear;
    overflow: auto;
  }

  .header .menu .drawer a {
    padding: 20px;
  }

  .menu-btn,
  .close-btn {
    display: block;
  }

  .header .logo {
    margin-left: 17px;
    margin-top: 3px;
  }

  .drawer-visible {
    left: 0 !important;
  }

  .blur {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    left: 0 !important;
  }
  .nav{
    display:block !important;
  }
  .sub-nav{
    position:relative
  }
  .sub-nav li{
    padding:0;
    margin-left:0;
  }
} */

/*END NAV*/

/* ul {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 !important;
} */

.div1 {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 30px 0;
}

.div1 img {
  max-width: 60%;
  display: block;
}

.div2 {
  background: #426691;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

}

.left {

  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.left .top {
  padding: 50px;
}

.left .bottom {
  text-align: center;
  padding: 50px;
  background: #6a9ac4;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom .submit-btn {
  margin-top: 30px;
}

.right {
  display: flex;
  width: 100%;
  height: 100%;
}

.right img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.div3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.div3 div {
  display: grid;
  place-items: center;
}

/* li {
  list-style-type: none;
  line-height: 3rem
} */

/* contact */



body {
  background-color: #6a9ac4;
}

#contact {
  background-color: #6a9ac4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
}

.contact-links,
.contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}


.contact-links {
  background-color: #1f2e43;
  background:
    radial-gradient(circle at 55% 92%, #426691 0 12%, transparent 12.2%),
    radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%),
    radial-gradient(circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%),
    radial-gradient(circle at 0% 0%, #263a53 0 40%, transparent 40.2%),
    #1f2e43;
}

.contact-form-wrapper {
  background-color: #ffffff8f;
  text-align: center;
}

@media only screen and (max-width: 800px) {

  .contact-links,
  .contact-form-wrapper {
    width: 100%;
  }

}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}

h2 {
  color: #ffffff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
}
h3{
  text-align: center;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}

.form-item {
  position: relative;
}

label,
input,
textarea {
  font-family: 'Poppins', sans-serif;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input,
textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 40px !important;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label,
input:valid+label,
textarea:focus+label,
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: #0079c1;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-size: clamp(16px, 1.6vw, 18px);
  display: inline-block;
  padding: 12px 40px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
  background-color: rgb(217, 119, 6);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: clamp(30px, 12vw, 60px);
  }

  .links {
    padding-top: 30px;
  }


}

/*FAQs*/
.div5 {
  padding: 50px;
}

/*animation for chevron*/
.caret {
  margin: auto 15px auto 5px;
  transition: 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.acc-title:hover .caret {
  transform: rotate(-180deg);
}

.acc-title:hover {
  background: #efefef;
}

details[open] .caret {
  transform: rotate(-180deg);
}

details[open] summary {
  background: #efefef;
}

details summary::-webkit-details-marker {
  display: none;
}

details>summary {
  list-style: none;
  padding: 13px;
  font-size: 1.4rem;
  color: #0071b9;
}

details>summary:focus {
  outline: none;
}

.summary-text {
  margin-bottom: 0;
  margin-top: 0;
}

details {
  border-bottom: 1px solid #d4d4d4;
}

details p {
  padding: 10px;
}

/*animate details*/
details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px
  }

  100% {
    opacity: 1;
    margin-left: 0px
  }
}

.div5 span {
  text-transform: uppercase;
  color: #426691;
  font-weight: bold;
}

.div6 {
  padding: 50px;
  background: #426691;
  text-align: center;
  color: #ffffff
}

.div6 .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.div6 .grid-item {
  padding: 10px;

}

footer {
  text-align: center;
  background: #6a9ac3;
  padding: 10px;
  color: #ffffff;
}

footer p {
  margin: 0 auto;
}


@media screen and (min-width: 600px) {
  .div3 {
    grid-template-columns: repeat(4, 1fr);
  }

  .div6 .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}

@media screen and (min-width: 860px) {
  .column {
    flex: 1
  }

  .div3 {
    grid-template-columns: repeat(6, 1fr);
  }

  .div6 .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
ol li{
  list-style: disclosure-closed;
  line-height: 2rem;
}
.serviceh1{
  text-align: center;
}

.div6 li{
  text-align: left;
}
.left-everything, .left-everything h2{
  text-align:left;
  margin: 0;
  padding:0;
}

footer a {
  padding: 0 10px;
  color:#ffffff !important;
}