.left .bottom {
    background-color: #1f2e43;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-self: center;
}
.flex-container img{
    width:100%;
    min-width: 300px;
}
@media screen and (max-width: 860px) {
    .flex-container {
      flex-wrap: wrap-reverse;
    }
}