.left .bottom {
    background-color: #1f2e43;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-self: center;
}
.flex-container img{
    
    min-width: 300px;
}

h2, h3 {
    text-align: left !important;
}
footer ul, footer p{
    text-align: left;
}
@media screen and (max-width: 860px) {
    .flex-container {
      flex-wrap: wrap-reverse;
    }
}
.bottom h2{
    text-align: center !important;
}